<div class="container d-flex justify-content-between tamanho">
    <div class="card" style="width: 18rem;">
        <img src="../../assets/macarrao.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Macarrão</h5>
          <p class="card-text">macarrao espaguete!</p>
          <a href="#" class="btn btn-primary"(click)="Comprar()">compre ja!!</a>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="../../assets/maionese.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">maionese</h5>
          <p class="card-text">maionese com creme de alho.</p>
          <a href="#" class="btn btn-primary">compre ja!!</a>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="../../assets/oleo.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">oleo</h5>
          <p class="card-text">oleo.</p>
          <a href="#" class="btn btn-primary"(click)="Comprar()">compre ja!!</a>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="../../assets/pao.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">pao</h5>
          <p class="card-text">pao puma gostoso.</p>
          <a href="#" class="btn btn-primary" (click)="Comprar()">compre ja!!</a>
        </div>
    </div>
</div>